*{
    box-sizing: border-box;
}

body{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    background: #F0F0F0;

}
/* Logo */
.phonie{
    margin-left: 5%;
}

.container{
    max-width: 480px;
    max-height: 527px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 16px;
    background: #FFFAFA;
    box-shadow: 2px 23px 20px rgba(0, 0, 0, 0.25)
}

.inputCustomize{
    margin-top: 5%;
}

.inputDesign{
    width: 100%;
    height: 48px;
    padding: 1%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
}
.rechargeCategory{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.buttonData{
    width: 40%;  
    height: 48px; 
    background: rgba(255, 250, 250, 1) no-repeat left;
    border-radius: 8px;
    color: #3A3434;
    border: 1px solid rgba(58, 52, 52, 1);
    background-image: url("./icons/circled-tick-icon.svg");
    background-position-x: 130px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}
.buttonAirtime{
    color: #FFFFFF;
    width: 40%;
    height: 48px;
    background: rgba(58, 52, 52, 1) no-repeat left;
    border: 1px solid rgba(58, 52, 52, 1);
    border-radius: 8px;
    background-image: url("./icons/circled-tick-icon.svg");
    background-position-x: 130px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.buttonSubmit{
    margin-top: 7%;
    display: flex;
    height: 48px;
    justify-content: center;  
}
.recharge{
    text-align: center;
    width: 100%;
    padding: 4%;
    background: rgba(5, 0, 255, 1);
    border: 1px solid blue;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: 700;
}

.airtimeText{
    display: flex;
    justify-content: space-around;
}
.email {
    padding-left: 60px;
    background: no-repeat left;
    background-image: url("./icons/mail-icon.svg");
    background-size: 18px 24px;
    background-position-x: 15px;
}
.phone {
    padding-left: 60px;
    background: no-repeat left;
    background-image: url("./icons/phone-icon.svg");
    background-size: 18px 24px;
    background-position-x: 15px;
}

.amount {
    padding-left: 60px;
    background: no-repeat left;
    background-image: url("./icons/naira-sign.svg");
    background-size: 18px 24px;
    background-position-x: 15px;
}


/* Media Queries */
@media screen and (max-width: 420px) {
    body{
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
    .container{
        width: 90%;
        height: 926px;
        padding-right: 20px;
        padding-left: 20px;
      
    }
    .phonie{
    margin: 10% 0 15% 32%;
    }

    .buttonSubmit {
    margin-top: 20%
    }
}